* {
    text-align: center;

    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
    background-color: #7e94c0;
    font-size: 16px;
}

body {
    width: 640px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}

h1 {
    font-size: 48px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p {
    font-size: 1.5rem;
}