* {
    box-sizing: border-box;

    /* font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
}
html {
    height: 100%;

}
body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    background-color: skyblue;
}

/* 스크린 크기 조정 */
.chat-screen {
    height: calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user {
    background-color: #fff;
    padding: 16px;
    height: 80px;
}
.user__column {
    float: left;
}
.user__pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: skyblue;
}
.user__nick, .user__count {
    margin: 5px;
}
.user__count {
    font-size: 12px;
    color: grey;
}

/* 채팅 입력창 */
.chat-form {
    height: 120px;
    background-color: #fff;
}
.chat-form__field {
    height: 120px;
}
.chat-form__msg {
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    font-size: 24px;
    padding: 10px;
    resize: none;
    float: left;
}
.chat-form__bt {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: skyblue;
    font-size: 18px;
    float: left;
}
.chat-form__msg:focus {
outline: none;
}
.chat-form__bt:active {
    background-color: blue;
}
